body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 90px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    color: black;
    background-color: white;
}

.divContainer {
    width: 75%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    display: flex;
    color: black;
}

.logo {
    padding-left: 20px;
    height: 55px;
}

.logo a img{
    width: 55px;
    height: 55px;
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    padding: 0 30px;
    align-items: center;
    height: 100%;
}

.header-menu-left {
    width: 60%;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-menu-left-ul {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0 0 0 10px;
    height: 100%;
    padding: 0;
}

.header-menu-left-ul li {
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.header-menu-left-ul li:hover {
    box-shadow: 0px 5px 0px 0px rgba(0,107,0,1);
}
.header-menu-left-ul li:first-child {
    margin: 0;
    margin-bottom: 2px;
}

.header-menu-right {
    display: flex;
    align-items: center;
}

.header-menu-right ul{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    font-size: 17px;
    padding: 0;
}

.header-menu-right i {
    margin-right: 5px;
}

header li a:hover{
    color: rgb(0, 107, 0);
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-section {
    width: 85%;
    display: flex;
    justify-content: center;
}

.divPresent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPresent-left {
    width: 50%;
    height: 100%;
}

.divPresent-left img {
    width: 100%;
    height: 100%;
}

.divPresent-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E3932;
}

.divPresent-right h2 {
    font-size: 50px;
    font-weight: 700;
    width: 60%;
    text-align: center;
    color: white;
}

.second-section {
    width: 85%;
    margin-top: 30px;
}

.divPresent2 {
    background-color: #d4e9e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00754a;
}

.div-text h2 {
    font-size: 50px;
    width: 480px;
    text-align: center;
    margin-bottom: 10px;
}

.div-text p {
    font-size: 20px;
}

.div-text a {
    color: #00754a;
    border: 1px solid #00754a;
    padding: 8px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.div-img {
    width: 50%;
}